@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@700&family=PT+Sans&family=Raleway&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    scroll-behavior: smooth;
}